@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');

body {
   font-family: 'Caladea', sans-serif;
   margin: 0;
   padding: 0;
 }
 
h2 {
   color: black
}
 
h3 {
   color: black
}

p {
   font-size: 18px;
   text-align: justify;
   text-justify: auto;
 }
 
 .container {
   position: relative;
   text-align: center;
 }
 
 .centered {
   position: absolute;
   top: 58%;
   left: 53%;
   transform: translate(-50%, -50%);
   color: white;
   text-shadow: 3px 3px 3px black;
 }

 h5 {
   position: absolute;
   top: 63%;
   left: 53%;
   transform: translate(-50%, -50%);
   color: white;
   text-shadow: 3px 3px 3px black;
   font-size: 2vw;
 }

footer {
   padding: 20px;
   color: white;
   background-color: black;
   text-align: center;
   font-weight: bold;
}

nav a {
   font-weight: bold;
   text-decoration: none;
   color: white;
}

nav a:hover {
   color: #ffcc00;
}

.profile header {
   text-align: center;
}

.featured-image {
   max-width: 100%;
   max-height: 25em;
   object-fit: contain;
   object-position: center;
}

.profile img {
   width: 200px;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

.jumbotron {
   font-size: 3vw;
   text-align: center;
   color: black;
}

nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
}

nav {
   background-color: black;
   padding: 5px;
   position: sticky;
   top: 0;
}

main {
   padding: 20px;
   overflow: auto;
}

#content {
   float: left;
   width: 75%;
}

aside {
   float: right;
   width: 25%;
   padding-left: 20px;
}

* {
   box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}

header {
   display: inline;
}